body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar {
    position: top;
    /* position: fixed; */
    /* background-color: bisque; */
    width: 100%;
    height: 56px;
}

#all {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
}

#left {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    /* background-color: cadetblue; */
    width: 560px;
}

iframe {
    padding: auto;
}

#videoData {
    border-bottom-style: groove;
    padding-bottom: 20px;
}

#videoMaker {
    border-bottom-style: groove;
    padding: 20px;
}

#videoMaker > p {
    padding: 0%;
    margin: 0%;
}

#comments {
    padding: 20px;
}


#sidebar {
    display: flex;
    flex-direction: column;
    /* background-color: darkgray; */
}

.suggestion {
    display: flex;
    flex-direction: column;
}

.preview {
    display: flex;
    flex-direction: row;
}

.previewImg {
    /* height: 94px; */
    /* width: auto; */
    padding: 5px;
}

.previewName {
    display: flex;
    flex-direction: column;
    width: 226px;
    height: 94px;
    margin-left: 15px;
    margin-top: 5px;
    /* flex-direction: column; */
}

.previewName > h4 {
    margin: 0%;
}

.previewName > a {
    margin-top: 10px;
    margin-bottom: 5px;
}

.previewName > p {
    margin-top: 0%;
    margin-bottom: 5px;
}